<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NonBom.Properties.Settings.OldCompaniesConnectionString" connectionString="Data Source=SCALA1;Initial Catalog=ScaCompDB;Persist Security Info=True;User ID=scala_read;Password=scala_read;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="NonBom.Properties.Settings.FusetechConnectionString" connectionString="Data Source=SCALA1;Initial Catalog=Fusetech;Persist Security Info=True;User ID=scala_read;Password=scala_read;Connect Timeout=0" providerName="System.Data.SqlClient"/>
        <add name="NonBom.Properties.Settings.ScaCompDBConnectionString" connectionString="Data Source=SCALA1;Initial Catalog=ScaCompDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
